section#intro
  .container
    .row
      .col-md-6
        p.big
          | This Melbourne Meetup brings together a community of people to
          | learn and share knowledge around a new era of chatbots, messaging
          | platforms and AI.
        p
          | We focus on the production side of Conversational UI, aiming to
          | further understanding between skill sets through stories from our
          | experiences across research, design and development.
        a.btn.btn-lg.btn-primary.btn-mid-purple(href="//www.meetup.com/Chatbots-Messaging-and-AI-Melbourne")
          | Join Meetup
      .col-md-6.text-right
        include /img/logomark.svg
section#hero
  img(src="/img/hero.png")
section#slack
  .container
    .row
      .col-md-7
        h2 #Melbots on Slack
        p
          | Join our Melbourne Slack community Slack to keep in touch. To be invited,
          | please provide your name and email. We promise not to spam you!
        include _partials/invite.html
      .col-md-5.text-right
        img(src="/img/slack.png")