section
  h2 MAY 2018 | Chat-ops with Chatbots!
  .row
    .col-sm-4
      h3 John Szaszvari @ BioCeuticals
    .col-sm-8
      ul
        li
          a(href="https://www.atlassian.com/blog/software-teams/what-is-chatops-adoption-guide") What is ChatOps? A guide to its evolution, adoption, and significance
        li
          a(href="https://www.infoworld.com/article/3062703/devops/how-chatops-can-revolutionize-your-business.html") How ChatOps can revolutionize your business
        li
          a(href="https://docs.stackstorm.com/chatops/index.html") StackStorm Documentation - ChatOps Section
        li
          a(href="https://www.youtube.com/watch?v=IhzxnY7FIvg") [VIDEO] ChatOps: Technology and Philosophy (a great talk about the philosophy of ChatOps and some of the products that RackSpace uses for it. A little biased towards I.T but otherwise a great video)
  .row
    .col-sm-4
      h3 Mark Horan @ Slack
    .col-sm-8
      ul
        li
          a(href="https://www.youtube.com/playlist?list=PLWlXaxtQ7fUbvBMja82vIinN3LG9XotOU") Spec | A Developer Conference by Slack | 2018
        li
          a(href="https://slackhq.com/turn-your-conversations-into-action-7acfc3c0d3f0") Blog announcement about Actions on Slackhq.com
        li
          a(href="https://slack.com/apps/collection/actions") Apps Using Actions
        li
          a(href="https://api.slack.com/actions") Create Your Own Custom Actions for Messages - API documentation
section
  h2 FEB 2018 | Exploring Conversation Design
  .row
    .col-sm-4
      h3 Amy Cleary @ Symplicit
    .col-sm-8
      ul
        li
          a(href="https://drive.google.com/file/d/1ILM3hhVwkRr105odvbTAlr_vsizX_3hk/view") [SLIDES] Conversation Design Principles
  .row
    .col-sm-4
      h3 Fraser Allison @ Uni of Melbourne
    .col-sm-8
      ul
        li
          a(href="https://docs.google.com/presentation/d/e/2PACX-1vQDywdtct0JQy1qRo4H3FX-OfAFi_AMDetGq7V5l0tqb5QLB5w_T-m4Lx7lJeafGUZ6cdB0BBUGbpJ7/pub?start=false&loop=false&delayms=3000") [SLIDES] Conversational Interactions in Video Games
section
  h2 DEC 2017 | Reboot the Bots!
  .row
    .col-sm-4
      h3 Dheeren Velu @ CBA Strategic IT
    .col-sm-8
      ul
        li
          a(href="https://drive.google.com/file/d/1YrI96CQ1Pz4p5wAG9eNJ2cbeEJzyj-E7/view?usp=sharing") [SLIDES] NLP Beyond Chatbots
  .row
    .col-sm-4
      h3 Benoit Lavigne @ Slack
    .col-sm-8
      ul
        li
          a(href="https://slack.com/certification") [DEMO] Building Bots for the Slack Platform
  .row
    .col-sm-4
      h3 Sarah Mare @ Colonial First State
    .col-sm-8
      ul
        li
          a(href="https://docs.google.com/presentation/d/e/2PACX-1vSRIp2UgbHnOJsCTDuYCCXrB57xZoFhQvBjuZOPSxzcmq6wzGTNMMpNgoobGddZgR6Ynl9I8bS3b1S0/pub?start=false&loop=false&delayms=10000") [SLIDES] Conversation Design with BotEngine.ai
